.blocks {
    display: flex;
    flex-wrap: wrap;
    width: 700px;

  }
  .block {
    background: black;
    /*flex-basis: 50%;*/
    width: 100px;
  }
  .block_red {
    background: red;
  }
  .block_blue {
    background: blue;
  }
  .block:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }