.header{
    margin: 32px 40px;
}

.sign-up__layout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.sign-up__container {
    display: flex;
    flex-direction: column;
    width: 390px;
    margin: 100px;
    vertical-align: top; /*не вплинуло*/
}

.sign-up__description {
    display: flex;
    flex-direction: column;
    width: 540px;
    margin: 200px 40px;
}

.sign-up__description-field {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 33px;
    color: #222528;
}

.sign-up__description-list {
    display: flex;
    width: 100%;
    margin: 26px 63px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 55px;
    color: #222528;
}

.sign-up__container-field {
    width: 100%;
    /*
    margin-bottom: 20px;
    */
}

.sign-up__container-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #222528;
    margin-bottom: 40px;
}

.sign-up__container-field-title {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #b4b4b4;
}

.sign-up__container-field-input {
    width: 100%;
    height: 30px;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    background: #F2F2F2;;
    box-sizing: border-box;
}

.sign-up__container-field-error {
    width: 100%;
    height: 20px;
    font-family: 'Source Sans Pro', sans-serif;  
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: red; 
    
}

.sign-up__container-field-checkbox {
    display: flex;
    margin-bottom: 30px;
}

.sign-up__container-field-checkbox-input {
    background: #ffffff;
    border: 1px solid #222528;
    box-sizing: border-box;
    border-radius: 2px; 
    margin-right: 9px; 
    cursor: pointer;  
}

.sign-up__container-field-checkbox-text {
    font-family: 'Source Sans Pro', sans-serif;  
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #222528;  
}

.sign-up__container-field-button {
    width: 100%;
    height: 32px;
    background: #cc3d39;
    border-radius: 2px;
    border: none;
    

    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.sign-up__container-field-button:hover {
    color: #fff;
    background: rgb(241, 47, 47);
}

.sign-in__field {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #222528;
    margin-top: 20px;
    margin-bottom: 23px;
    text-align: center;
}

.terms__field {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #222528;
    text-align: center;
}

@media screen and (max-width: 800px) 
{
    .header {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 40px;
        height: 50%;
    }
    
    .sign-up__layout {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      box-sizing: content-box;
    }

    .sign-up__description{
        display: flex;
        flex-direction: column;
        width: 390px;
        height: 100%;
        margin: 30px;
    }
  
    .sign-up__container {
      display: flex;
      flex-direction: column;
      width: 390px;
      height: 100%;
      margin: 30px;
    }

}

/*
dont get how to use media to fit screen while it changes
@media (max-width: 500px) {
    .header {
      min-width: 300px
      max-width: 300px
    }
    .sign_up_layout {
      min-width: 120px
    }
    .sign_up_description {
        min-width: 300px
        max-width: 300px
      }
    .sign_up_container {
        min-width: 120px
    }
    .footer {
        min-width: 120px
    }
}